.model-edit-container {
    $attribute-panel-max-width: 10vw;
    $properties-panel-max-width: 10vw;
    $config-panel-max-height: 20vh;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #aaa;
    display: grid;
    grid-template-columns: [attribute-panel] fit-content($attribute-panel-max-width) [attribute-tab] auto [center] 1fr [properties-tab] auto [properties-panel] fit-content($properties-panel-max-width);
    grid-template-rows: [title] auto [center] 1fr [config-tab] auto [config-panel] fit-content($config-panel-max-height);

    .title {
        grid-column-start: center;
        grid-row-start: title;
        text-align: center;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1.5em;
    }

    @mixin tabular() {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .tab {
            background-color: #666;
            cursor: pointer;
        }
    }

    .attribute-panel {
        grid-column-start: attribute-panel;
        grid-row-start: title;
        grid-row-end: config-panel;
        background-color: lightcoral;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;

        & > * {
            overflow-y: auto;
        }

        & .attribute-list-item {
            border-bottom: 1px solid lightgrey;
            padding: 0.25em;
        }
    }

    .attribute-panel-collapse {
        padding: 0em;
        max-width: 0vw;
    }

    .attribute-panel-expand {
        padding: 0.25em;
    }

    .attribute-tab {
        @include tabular();

        grid-column-start: attribute-tab;
        grid-row-start: title;
        grid-row-end: config-tab;

        .tab {
            width: 2vw;
            border-top-right-radius: 2vw;
            border-bottom-right-radius: 2vw;
            height: 10vh;
        }
    }

    .properties-panel {
        grid-column-start: properties-panel;
        grid-row-start: title;
        grid-row-end: config-panel;
        background-color: lightcoral;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;

        & > * {
            overflow-y: auto;
        }
    }

    .properties-panel-collapse {
        padding: 0em;
        max-width: 0vw;
    }

    .properties-panel-expand {
        padding: 0.25em;
    }

    .properties-tab {
        @include tabular();

        grid-column-start: properties-tab;
        grid-row-start: title;
        grid-row-end: config-tab;

        .tab {
            width: 2vw;
            border-top-left-radius: 2vw;
            border-bottom-left-radius: 2vw;
            height: 10vh;
        }
    }

    .configuration-panel {
        grid-column-start: attribute-panel;
        grid-column-end: -1;
        grid-row-start: config-panel;
        grid-row-end: -1;
        background-color: lightblue;

        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        overflow-y: hidden;

        & > * {
            overflow-y: auto;
        }

        .config-panel-form {
            display: flex;
            flex-wrap: wrap;

            & > * {
                padding: 0.5em;
            }

            label {
                display: block;
            }
        }
    }

    .configuration-panel-collapse {
        padding: 0em;
        max-height: 0;
    }

    .configuration-panel-expand {
        padding: 0.25em;
    }

    .config-tab {
        @include tabular();

        grid-column-start: center;
        grid-row-start: config-tab;

        .tab {
            width: 5vw;
            border-top-right-radius: 2vw;
            border-top-left-radius: 2vw;
            height: 2vh;
        }
    }

    .graph-visualizer {
        grid-column-start: center;
        grid-column-end: span 1;
        grid-row-start: center;
        grid-row-end: span 1;

        box-shadow: 1em 0.5em 1em grey;
    }
}
