.vis-edit-mode {
  position: absolute;
  top: 0;
}

.vis-manipulation {
  position: absolute;
  top: 0;
}

.vis-close {
  position: absolute;
  top: 0;
}

.vis-tooltip {
  position: absolute;
  padding: 0.25em;
  background-color: lightgreen;
  border-radius: 0.25em;
}
