.model-select {
  background-color: #fefefe;
}

.model-select--title {
  position: static;
  text-align: center;
}

.model-select--panel {
  margin: auto;
  width: 50%;
}

.model-select--element {
  border-bottom: 1px solid black;
}

.model-select--element:focus {
  outline: 0;
}
