<div>
  <h4>Attributes</h4>
</div>

<div>
  <p>List of attributes in the exhibit. Drag an attribute onto a video to add it or select the "Add Attribute" button to the right to add a new one.</p>
</div>

<div>
  {{#each-in modelService.modelData.attributes as |key value|}}
    {{attribute-list-item
      attributeDropCallback=attributeDropCallback
      deleteAttributeCallback=deleteAttributeCallback
      updateModalCallback=(action 'editAttribute')
      id=(create-id prefix "_" key)
      key=key
      data=value
    }}
  {{/each-in}}
</div>
