<div class="pointer underline" {{action onSelectCallback}}>
  <h4>{{name}}</h4>

  <p>{{description}}</p>
</div>

{{#if showUpdate}}
  <button{{action onUpdateCallback}}>Update to new version</button>
{{/if}}
