<div>
  <h4>Properties</h4>
</div>

<div>
    <p>List of properties of the selected CE. Make modifications and then submit changes at the bottom of the panel.</p>
</div>

{{#if data}}
  <form>

  </form>
{{else}}
  <div>
    <p>No CE selected. Select a CE from the middle of the screen to modify its properties.</p>
  </div>
{{/if}}
